.container {
	max-width: rem(1170); 
	height: 100%; 
}

a {
	text-decoration: none;
	cursor: pointer;
	&:hover {
		text-decoration: none;
	}
}

.navbar {
	& &-toggler-icon {
		width: 30px;
  	height: 15px;
		background-image: url('../../img/humb.png');
	}
	& &-toggler {
		cursor: pointer;
		border: none;
		&:focus {
			outline: none; 
		}		
	}
	& &-brand {
		transition: all .3s ease; 
		color: $gray;
	}
	& &-nav {
		@include title(14);
		line-height: rem(20); 
	}
}
