.form	{
	margin-bottom: rem(24); 
	padding: rem(50) 0; 
	width: 100%;
	background-color: $green;
	&__container {
		@include make-container();
		max-width: rem(1170);
		@include make-container-max-widths(1170px);
	}
	&__row {
		@include make-row();
		margin-right: 0;
	}
	&__column {
		@include make-col-ready();
		@include media-breakpoint-up(sm) {
	    @include make-col(12);
	  }
	  @include media-breakpoint-up(md) {
	    @include make-col(6);
	  }
	}
	&__wrapper {
		padding: rem(20) rem(26) rem(20) rem(20); 
		background-color: $white; 
	}
	&__item {
		@extend .d-flex;
		@extend .justify-content-between;
		width: 100%; 
	}
	&__text {
		margin: 0;
		padding-bottom: rem(30);  
		@include title(30);
		color: $white; 
	}
	&__title {
		padding-right: rem(15); 
		color: $gray; 
		font-family: 'Montserrat', sans-serif;
		font-size: rem(24);
		font-weight: 700;
		line-height: rem(36);
		text-transform: uppercase;
	}
	&__info {
		color: $dark;
		font-family: 'Open Sans', sans-serif;
		font-size: rem(16);
		font-weight: 400;
		line-height: rem(24);
	}
	&__input {
		width: 100%; 
		padding: 0 rem(20); 
		@include title(12);
		border: 1px solid rgba(0, 0, 0, 0.1);
		&--color {
			background-color: $input;
		}
		&--left {
			border-right-color: transparent;
		} 
		&:hover {
			cursor: pointer;
			border-color: $green;
		}
		&::placeholder {
			color: $placeholder;
		}
	}
	&__area {
		height: auto; 
		padding: 0 rem(20) rem(8) rem(20); 
		@include title(12);
		background-color: $input;
		resize: none;
		&::placeholder {
			color: $placeholder;
		}
		&:hover {
			border-color: $green;
		}
	}
	&__btn {
		@include btn();
		margin: 0;
		&--white {
			margin-bottom: rem(20); 
			@include btn-white();
		}
	}
}