.team {
	padding: rem(60) 0 0;
	@include media-breakpoint-up(md) {
		padding: rem(138) 0 0;  
	} 
	&__header {
		padding-bottom: rem(50);
		@include media-breakpoint-up(md) {
			padding-bottom: rem(100); 
		}  
	}
	&__title {
		@include title-shadow();
	}
	&__text {
		margin: 0; 
		@include text(24);
	}
	&__wrap {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__item {
		padding-bottom: rem(30);  
		position: relative;
		overflow: hidden;
		transition: all .3s ease; 
		&:hover {
			cursor: pointer;
			opacity: .7;  
		}
	}
	&__img	{
		width: 100%;
		height: 100%;
		overflow: hidden;  
	}
}

.info {
	&__block {
		padding: rem(42) rem(30); 
	}
	&__text {
		color: $gray;
		font-family: 'Open Sans', sans-serif;
		font-size: rem(18);
		font-style: italic;
		line-height: rem(48);
	}
	&__btn { 
		@include btn();
		min-width: rem(165);
		padding: 0; 
	}
}