$white: #ffffff;
$black: #000000;
$gray: #60606e;
$green: #7beec7;
$dark: #999999;
$placeholder: #cdcdcd;
$light-gray: #9a9a9a;
$input: #fefcf9;
$light-gray-2: #999999;
$light-gray-3: #e5e5e5;
$light-gray-4: #cccccc;
$input: #ececec;
$red: #ea6a6a;


